body {
    background-color: #9fd3c7; 
    margin: 0;
	padding: 0;
    padding-top: 15vh;
}

.header {
    display: flex;
    background-color: #0251578a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 2px solid black;*/
    height: 15vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    
}

.logo_header {
    /*border: 2px solid red;*/
    width: 15vw;
    padding: .1em;
}

#matcha_logo {
    /*border: 2px solid blueviolet;*/
    max-width: 90%;
    max-height: 90%;
    margin: .1em;
}

.nav_bar {
    /*border: 2px solid black;*/
    width: 70vw;
}

.list_header {
    list-style: none;
    display: flex;
    /*border: 2px solid red;*/
    padding-inline-start: 0px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

.list_header :hover {
    color: #fff;
}

.options {
    /*border: 2px solid blueviolet;*/
    width: 15vw;
}

.enter_part {
    /*border: 2px solid red;*/
    display: flex;
    width: 15vw;
    list-style: none;
    padding-inline-start: 0px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#sign_in {
    /*border: 2px solid blueviolet;*/
    color: #fff;
    background-color: #025157;
    border-radius: .4em;
    margin:0.4em;
    border: none;
    padding: .5em;

}

#sign_in :hover {
    background: #65adb3;
}

#button_free {
    /*border: 2px solid blueviolet;*/
    color: #fff;
    background-color: #025157;
    border-radius: .4em;
    margin: 0.4em;
    border:none;
    padding: .5em;
}

#button_free :hover {
    background: #65adb3;
}

.banner {
    color: rgb(88, 86, 86);
    font-family: verdana;
    font-size: 1rem;
    text-align: center;
}

#capterra_example {
    max-width: 40%;
    max-height: 40%;
    background-color: #fff;
    border-radius: 1em;

}

.form {
    text-align: center;
    background-color: #0251578a;
    border-radius: .4em;
    padding: 1%;
}

#button_form {
    color: #fff;
    background-color: #025157;
    border: none;
    border-radius: .4em;
    padding: 1%;
    margin: 1%;
}

#button_form:hover {
    background: #65adb3;
}

#email_form {
    border: none;
    border-radius: .5em;
}


#capterra_logo {
    max-width: 20%;
    max-height: 20%;
    background-color: #fff;
    border-radius: .7em;

}