body {
    background-color: #9fd3c7; 
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}


.logo {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color:#025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

#capterra_logo {
    max-width: 20%;
    max-height: 20%;
    background-color: #fff;
    border-radius: 10px;

}

.banner {
    color: rgb(88, 86, 86);
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

#capterra_example {
    max-width: 40%;
    max-height: 40%;
    background-color: #fff;
    border-radius: 10px;

}

.form {
    text-align: center;
    background-color: #0251578a;
    border-radius: 5px;
    padding: 1%;
}

#button_form {
    color: #fff;
    background-color: #025157;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
}

#email_form {
    border: none;
    border-radius: 5px;
}